spring:
  datasource:
    url: jdbc:postgresql://127.0.0.1:5432/strim?sslmode=disable
    driver-class-name: org.postgresql.Driver
    username: "app"
    password: "app"
    hikari:
      connection-timeout: 5000
      max-lifetime: 1200000
      idle-timeout: 600000
      connection-test-query: SELECT 1
      maximum-pool-size: ${DB_POOLSIZE:5}
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: https://login.microsoftonline.com/<your-tenant>/v2.0
  flyway:
    enabled: true
    locations:
      - "classpath:db/migration"

  jpa:
    hibernate:
      ddl-auto: validate
    database-platform: org.hibernate.dialect.PostgreSQLDialect

management:
  endpoint.health.show-details: always
  endpoints:
    web:
      base-path: /internal/actuator
      exposure.include: info,health,metrics,prometheus
logging:
  level:
    org.springframework.boot.context.config: DEBUG
