spring:
  datasource:
    url: jdbc:postgresql://127.0.0.1:5432/strim?sslmode=disable
    driver-class-name: org.postgresql.Driver
    username: "app"
    password: "app"
    hikari:
      maximum-pool-size: ${DB_POOLSIZE:5}

  flyway:
    enabled: true
    locations:
      - classpath:db/migration

  jpa:
    hibernate:
      ddl-auto: validate
    database-platform: org.hibernate.dialect.PostgreSQLDialect

management:
  endpoint.health.show-details: always
  endpoints:
    web:
      base-path: /internal/actuator
      exposure.include: info,health,metrics,prometheus
logging:
  level:
    org.springframework.boot.context.config: DEBUG
